body {
    background-color: #e8eccb;
}

.ui-page-theme-b .ui-bar-inherit,
.ui-bar-b {
    background-color: #81AA4B;
    color: #000;
}

.ui-bar-a {
    background-color: #526d30;
    color: #dbfbb1;
}

