body {
    margin : 0;
    padding : 0;
    background-color: #fff;
    font-family: Helvetica,Arial,sans-serif
}

:link, :visited {
    text-decoration: none;
    color: #00A
}

a:hover {
    text-decoration: underline
}

#map_maplinks {
    position: absolute;
    top: 12px;
    right: 4px
}

.ol-scale-line {
    bottom: 45px;
    background: rgba(0, 50, 0, 0.5)
}

.ol-zoom {
    top: 75px
}

@media screen and (max-height: 500px), screen and (max-width:720px) {
    #map_maplinks {
        display: none
    }

    .ol-zoom {
        top: 45px
    }
}

.ui-subheader div {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px
}

.detail-header {
    min-height: 45px
}

.detail-header img {
    float : left;
}

.copyright {
    position: absolute;
    right : 0
}

@media screen and (max-width:500px) {
    .copyright {
        bottom : 45px;
        background: white;
        position: fixed;
        color: #555
    }
}

#javascript-warning {
    position : absolute;
    height : 100%;
    width : 100%;
    top: 0;
    left: 0;
    background: white
}

.ui-panel {
    top: 60px;
    bottom: 40px;
    min-height: 34px;
    border-style: solid;
    border-width: 1px;
    width: 24em;
    max-width: 40%
}

.panel-hidden {
    height: 0
}

.more-msg {
    font-size: 0.8em;
    padding: 0.3em
}

@media screen and (max-width:600px) {
    .ui-panel {
        max-width: 100%;
        width: 99%;
        top: 40px;
        bottom: 45px
    }
    .large-visible {
        display: none
    }
}

@media screen and (min-width:600px) {
    .small-visible {
        display: none
    }
}

.browser-content {
    overflow : auto;
    position : absolute;
    bottom : 0;
    top : 34px;
    width : 100%
}

.sidebar-content .ui-collapsible {
    margin : 7px 0
}

.sidebar-error {
    display: none
}

.sidebar-error-mode .sidebar-error {
    display: inline
}

.sidebar-error-mode .sidebar-data {
    display: none
}

.ui-panel-inner {
    padding: 0;
    height: 100%;
}

.ui-panel-inner .ui-btn {
    margin: -3px
}

.browser-header .ui-controlgroup {
    margin: 0
}

.browser-header .ui-controlgroup .ui-btn {
    height: 10px;
    margin-top: -1px;
}

.ui-collapsible-themed-content .ui-collapsible-heading {
    height: 22px;
}


.ui-page-theme-b .ui-bar-inherit,
.ui-bar-b {
    text-shadow: 0 0 0;
}

.ui-bar-a {
    text-shadow: 0 0 0;
}

.browser-header .ui-bar {
    background-color: #cccccc;
    color: #000;
    text-shadow: 0 0 0;
    height: 30px;
    font-size: 17px;
    margin: 0;
    padding: 4px 1em 0;
    text-align: center
}

.ui-page-theme-c .ui-panel {
    background-color: #fff;
}

.ui-subheader {
    padding: 0;
    border-style: none;
    font-size: 0.5em
}

.ui-header {
    background-repeat: no-repeat;
    background-position: right top;
}

.ui-header .ui-title {
   margin: 0;
   width: 100%;
   text-align: left;
   font-size: 15px;
   padding: 2px;
   height: 20px;
}

@media screen and (min-height: 501px) and (min-width:721px) {
    .ui-header .ui-title {
        font-size: 30px;
        padding: 5px;
        height: 45px;
    }

    .ui-subheader {
        font-size: 0.8em
    }
}

.pseudo-page {
    width: 0 !important
}

.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}

.footer-button-left {
    left: 0.4em;
}
.footer-form-left {
    position: absolute;
    left: 0.4em;
    top: auto;
    bottom: 0;
}

.footer-button-right {
    right: 0.4em;
}

.footer-center {
    text-align: center;
    margin: 2px
}

@media screen and (max-width:700px) {
    #searchform,
    #routebutton-wide {
        display: None
    }
}

@media screen and (min-width:701px) {
    #searchbutton,
    #searchform-search,
    #routebutton-narrow {
        display: None
    }

}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}

.browser-content .ui-bar-d {
    background-color: #dde;
    font-style: italic;
    font-weight: bold;
}

.ui-btn-d {
    background-color: #dde;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    font-style: italic;
    border-color: #dde
}

.ui-collapsible-themed-content .ui-collapsible-content {
    border-style: none;
    padding-top: 0
}

.ui-collapsible-content .ui-listview {
    margin-top: 0.4em;
    margin-bottom: 0;
    margin-left: -1.2em
}

.ui-listview .li-search-result p {
    white-space: normal
}

.ui-group-theme-d .ui-li-divider,
.browser-content .ui-bar {
    padding-top: 0;
    padding-bottom: 0;
    border-color: #dde
}

.ui-group-theme-d li .ui-btn {
    border-style: none !important
}

.ui-group-theme-d > .ui-li-has-icon > .ui-btn > img:first-child {
    max-width: 2em;
    max-height: 16px;
    top: 0.1em
}

.ui-group-theme-d > li h3,
.ui-group-theme-d > li p,
.ui-group-theme-d > li a {
    text-align: left;
    margin: 0;
    height: auto;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0
}

.ui-group-theme-d > .ui-li-has-icon h3,
.ui-group-theme-d > .ui-li-has-icon p,
.ui-group-theme-d > .ui-li-has-icon a {
    padding-left: 3px;
    padding-top : 0;
    padding-bottom: 0
}

.ui-group-theme-d > li :visited p,
.ui-group-theme-d > li :link p {
    color: #000
}

.sidebar-content {
    overflow : hidden
}

.sidebar-content h2 {
    margin: 0;
    padding-bottom: 0.2em
}

.sidebar-content h2 img {
    padding: 0 0.3em
}

#tag-table th {
    font-size: 0;
    padding: 0
}

#tag-table td,
#tag-table th,
#tag-table tbody th,
#tag-table tbody td,
#tag-table thead td,
#tag-table thead th {
    display: table-cell;
    margin: 0;
}
/* Hide the labels in each cell */
#tag-table td .ui-table-cell-label,
#tag-table th .ui-table-cell-label {
    display: none;
}

#tag-table td {
    padding: 0 0.5em
}

.ui-mini .ui-btn-icon-left {
    padding-top : 2px;
    padding-bottom: 2px;
    font-style: italic
}

.ui-mini .ui-btn-icon-left::after {
    width: 18px;
    height: 18px;
    margin-top: -9px
}

.ui-btn-d.ui-btn-icon-left::after {
    background-color: rgba(0, 0, 0, 0.1);
    width: 18px;
    height: 18px;
    margin-top: -9px
}

.sidebar-content .ui-body {
    padding : 0
}

.dl-block {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 0.3em;
    line-height: 150%
}

.dl-item {
    font-weight: bold;
    padding-right: 1ex
}

.dl-link {
    padding-right: 1ex
}

.slider input {
    display: none
}

.slider .ui-slider-track {
    margin-left: 15px;
    margin-top: 0
}

.slider label {
    font-size: 12.5px
}

.ui-field-contain .ui-select {
    margin-left: 23px !important
}

.list-select {
    background: #CCC
}

#elevation-profile {
    height: 200px;
    width: 100%;
}

.elevation-ylabel {
    transform: rotate(-90deg);
    position: absolute;
    top: 100px;
    left: -24px
}

.elevation-label {
    text-align : center;
    color: #545454;
}

/* for help pages */

#menubar {
    background-color: #e8ecf3;
    border-color : #ddd;
    border-width: 2px;
    border-style: solid
}

.sidemenu {
    padding : 0.5em;
    margin: 0
}

.sidemenu li {
    list-style-type: none;
    padding: 1px 0px
}
.sidemenu ul {
    padding-left: 2em;
    font-size: 0.9em
}

.docpage h3 {
    font-size: 1em;
}

.docpage h2 {
    font-size: 1.1em;
}

.docpage h1 {
    font-size: 130%;
}

.docpage pre {
    background-color: #EEE;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    border-color: #AAA;
    margin-left: 15px;
    margin-right: 15px;
}

#menubar {
    font-size: 0.9em;
    margin : 0.5em;
    position: fixed;
    width : 17em;
    left : 0;
    top: 85px;
}

.docpage {
    margin-left: 16em;
    max-width: 50em; 
    padding-left: 1em;
    margin-top:85px;
    margin-bottom:3em
}

/* for error pages */

#error .ui-content {
    margin-top:85px;
    padding: 1em;
    max-width: 50em
}
