{% comment %}

Control for choosing the language
{% endcomment %}

{% load i18n %}
{% load lang_filter %}

<div id="langchooser" class="dropdown header">
<span class="ddtitle" onclick="$('#langchooser ul').toggle();" title="{% trans 'Choose language...' %}">{{LANGUAGE_CODE|upper}}
 {% if not ismobile %}<img src="{{ MEDIA_URL }}/img/tango-flags.png" alt="" />{% endif %}
<ul>
{% for lang_code, lang_name in LANGUAGES %}
        {% ifequal lang_code LANGUAGE_CODE %}
            <li>{{lang_name }}</li>
        {% else %}
            <li><a class="maplink" href="{% localeurl lang_code %}">{{ lang_name }}</a></li>
        {% endifequal %}
{% endfor %}
</ul>
</div>

