{% comment %}

Control to change visibility of layers

{% endcomment %}

{% load i18n %}

<div id="mapSwitcher">
  <a id="switcherSelector" class="mapSwitch" href="javascript:toggleMapSwitch()"><img src="{{ MEDIA_URL }}/js/img/layer-switcher-maximize.png" alt="+" /></a>
  <div id="switcherWindow" class="mapSwitch invisible">
    <a id="switcherClose" href="javascript:toggleMapSwitch()"><img src="{{ MEDIA_URL }}/js/img/layer-switcher-minimize.png" alt="-" /></a>
    <p>{% trans "Base map" %}</p>
    <div id="basebg" class="sliderbg" tabindex="90"><img class="sliderbgimg" src="{{ MEDIA_URL }}/img/bg-fader.gif" alt="" /><div id="basethumb" class="sliderthumb"><img src="{{ MEDIA_URL }}/img/thumb-n.gif" alt="|" /></div></div>
    <p>{% trans "Route layer" %}</p>
    <div id="routebg" class="sliderbg" tabindex="91"><img class="sliderbgimg" src="{{ MEDIA_URL }}/img/bg-fader.gif" alt="" /><div id="routethumb" class="sliderthumb"><img src="{{ MEDIA_URL }}/img/thumb-n.gif" alt="|" /></div></div>
    <p>{% trans "Hill shading" %}</p>
    <div id="hillbg" class="sliderbg" tabindex="92"><img class="sliderbgimg" src="{{ MEDIA_URL }}/img/bg-fader.gif" alt="" /><div id="hillthumb" class="sliderthumb"><img src="{{ MEDIA_URL }}/img/thumb-n.gif" alt="|" /></div></div>
  </div>
</div>

<script type="text/javascript" src="{{ MEDIA_URL }}/js/slider-min.js"></script>
