{% comment %}

Side bar elements (currently includes route window and search)

{% endcomment %}

{% load i18n %}

<div id="sidebar" class="invisible sb-layout-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %} ui-shadow ui-body-c {% if ismobile %}big-btns{% endif %}">
  <a id="sbclose" class="ui-btn ui-btn-icon-notext ui-btn-up-c" href="#"><span class="ui-btn-inner"><span class="ui-icon ui-icon-delete ui-icon-shadow"></span></span></a>

  <div id="sb-routes" class="sbcontent">
    <a id="routebacklink" class="backlink sb-route-view" href="#">{% trans 'Back to route list' %}</a>
    <a id="searchbacklink" class="backlink" href="#">{% trans 'Back to search results' %}</a>
    {% comment %}Translators: Beware of doing a direct translation of 'Loading'. In many languages there are many much better alternatives, just think about synonyms such as 'fetching' and 'getting'.{% endcomment %}
    <div id="routeloader" class="sbloading">{% trans "Loading data…" %}</div>
    <div id="routecontent" class="route-content"></div>
    <div id="routeinfocontent" class="route-content"></div>
  </div>

  <div id="sb-search" class="sbcontent">
    {% comment %}Translators: This is the heading for search results, the search phrase will be appended, f.ex. 'Searching for Alps'.{% endcomment %}
    <h1>{% trans "Searching for" %} <i id="searchterm"></i></h1>
    <h2>{% trans "Routes" %}</h2>
       <div id="rsearchcontent" class="searchcontent"></div>
       <div id="rsearchloader" class="sbloading">{% trans "Loading data…" %}</div>
    <h2>{% trans "Places" %}</h2>
       <div id="psearchloader" class="sbloading">{% trans "Loading data…" %}</div>
       <div id="psearchcontent" class="searchcontent"></div>
  </div>

</div>
