{% comment %}

Side bar elements (currently includes route window and search)

{% endcomment %}

{% load i18n %}

<div id="sidebar" class="invisible sb-layout-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %} ui-shadow ui-body-c {% if ismobile %}big-btns{% endif %}">
  <div id="sidebar-header" class="ui-header ui-bar-c">
   <a id="sbback" class="ui-btn ui-btn-icon-notext ui-btn-up-c ui-btn-left" href="#"><span class="ui-btn-inner"><span class="ui-icon ui-icon-back ui-icon-shadow"></span></span></a>
   <h1 id="sbtitle" class="ui-title"></h1>
      <a id="sbsmall" class="ui-btn ui-btn-icon-notext ui-btn-up-c ui-btn-right" href="#"><span class="ui-btn-inner"><span class="ui-icon ui-icon-arrow-d ui-icon-shadow"></span></span></a>
     <a id="sbclose" class="ui-btn ui-btn-icon-notext ui-btn-up-c ui-btn-right" href="#"><span class="ui-btn-inner"><span class="ui-icon ui-icon-delete ui-icon-shadow"></span></span></a>
  </div>

  <div id="sb-routes" class="sbcontent">
    {% comment %}Translators: Beware of doing a direct translation of 'Loading'. In many languages there are many much better alternatives, just think about synonyms such as 'fetching' and 'getting'.{% endcomment %}
    <div id="routeloader" class="sbloading">{% trans "Loading data…" %}</div>
    <div id="routecontent" class="route-content"></div>
    <div id="routeinfocontent" class="route-content"></div>
  </div>

  <div id="sb-search" class="sbcontent">
    {% comment %}Translators: This is the heading for search results, the search phrase will be appended, f.ex. 'Searching for Alps'.{% endcomment %}
    <h1>{% trans "Searching for" %} <i id="searchterm"></i></h1>
    <h2>{% trans "Routes" %}</h2>
       <div id="rsearchcontent" class="searchcontent"></div>
       <div id="rsearchloader" class="sbloading">{% trans "Loading data…" %}</div>
    <h2>{% trans "Places" %}</h2>
       <div id="psearchloader" class="sbloading">{% trans "Loading data…" %}</div>
       <div id="psearchcontent" class="searchcontent"></div>
  </div>

</div>
