{% load i18n %}

<div class="toolbar">
  <div class="toolbarrow header">
   <div class="toolbarcol"><a id="tb-routes" class="toolbaritem" href="javascript:openRouteView()">{% trans "Routes" %}</a></div>
   <div class="toolbarcol" id="tb-search"><div class="toolbaritem">{% trans "Search" %}</div></div>
   <div class="toolbarcol"><div id="tb-pref" class="toolbaritem">{% trans "Settings" %}</div></div>
   <div class="toolbarcol" id="tb-about"><a href="{% url helppage 'about' %}" class="toolbaritem">{% trans "About" %}</a></div>
  </div>
<div>
