config/local.py
frontend/static/symbols/hiking/*
frontend/static/symbols/cycling/*
frontend/static/symbols/mtb/*
frontend/static/symbols/riding/*
frontend/static/symbols/skating/*
frontend/static/symbols/slopes/*
*.log
*.mo
*.pyc
