{% load i18n %}
{% autoescape on %}
{% load markup %}
{% load markup_filter %}

<head>
 <title>Place Search Results for '{{ searchterm }}'</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/standard.css">
</head><body>
<a href="/">{% trans "Back to map" %}</a>
<div class="mainpage">

<ul>
{% for place in objs %}
<li {% if place.icon %}style="list-style-image:url({{place.icon}})"{% endif %}><a href="javascript:zoomMap({{place.bbox}})">{{place.name}}</a>
</li>
{% endfor %}
</ul>

{% if hasmore %}
More results…
{% endif %}

</div>

<div class="copyright">
<p>{% trans "Map data © [OpenStreetMap](http://www.openstreetmap.org) under [ODbL](http://www.openstreetmap.org/copyright)"|markdown|filterpara  %}</p>
</div>
</body>
{% endautoescape %}
