{% load i18n %}
{% autoescape on %}

<head>
 <title>Route information</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/standard.css">
</head><body>

<a href="/">{% trans "Back to map" %}</a>

<div class="routewin">

<h1><div class="subtitle"><img src="{{ MEDIA_URL }}/{{ symbolpath }}/{{route.symbol}}.png"> <a href="http://www.openstreetmap.org/browse/relation/{{route.id}}">{{route.id}}</a></div>
{{route.name}}<br>

 <a href="{% url relationmap route.id %}" title="{% trans 'Center map on route' %}"><img src="{{ MEDIA_URL }}/img/target.png"></a>
 <a href="{% url route_gpx route.id %}" title="{% trans 'Download GPX' %}"><img src="{{ MEDIA_URL}}/img/gpx.png"></a>
 </h1>


<div class="routedescr">{{loctags.description}}</div>
{% if loctags.note %}
{% comment %}Translators: This is a note left by mappers, see http://wiki.openstreetmap.org/wiki/Key:note{% endcomment %}
<div class="routenote"><i>{% trans 'Note' %}:</i> {{loctags.note}}</div>
{% endif %}


<div class="dllist">
{% for k,v in infobox %}
  <div class='dlline'>
      <span class='dlitem'>{{k}}:</span><span class='dldef'>{{v}}</span>
  </div>
{% endfor %}
</div>

{% with loctags.get_url as wwwurl %}
{% with loctags.get_wikipedia_url as wikiurl %}
{% if wwwurl or wikiurl %}
<div class="dllist"><div class='dlline'>
<span class='dlitem'>{% trans "Links" %}:</span>
{% if wwwurl %}
<span class='dllink'>
 ⇨ <a href="{{wwwurl|safe}}">{% trans "Website" %}</a>
</span>
{% endif %}
{% if wikiurl %}
<span class='dllink'>
 ⇨ <a href="{% url route_wikilink route.id %}">{% trans "Wikipedia" %}</a>
</span>
{% endif %}
</div></div>
{% endif %}{% endwith %}{% endwith %}


{% if subroutes %}<h2>{% trans 'Sections' %}</h2>

<ul>
{% for sec in subroutes %}
<li><a href="javascript:showRouteInfo('{{sec.id}}')">{{sec.name}}</a>
{% if sec.origname %}<br><small>{{sec.origname}}</small>{% endif %}</li>
{% endfor %}
</ul>
{% endif %}
{% comment %}Translators: If a route is part of other route(s), those routes will be listed under this heading. Read more at http://hiking.lonvia.de/rendering/hierarchies{% endcomment %}
{% if superroutes %}<h2>{% trans 'Part of' %}</h2>

<ul>
{% for sec in superroutes %}
<li><a href="javascript:showRouteInfo('{{sec.id}}')">{{sec.name}}</a>
{% if sec.origname %}<br><small>{{sec.origname}}</small>{% endif %}</li>
{% endfor %}
</ul>
{% endif %}

{% comment %}Translators: Tags has the OSM-specific meaning here of a key/value pair describing the object. Most of the time it might better be left untranslated. Read more at http://wiki.openstreetmap.org/wiki/Tags{% endcomment %}
<h2>{% trans "Tags" %}</h2>

<table dir="ltr">

{% for k,v in route.tags.items %}
  <tr><td valign="top">{{k}}</td><td valign="top">:</td><td>{{v}}</td></tr>
{% endfor %}

</table>
</div>
<div class="copyright">
    <p>All data by <a href="http://www.openstreetmap.org">OpenStreetMap</a> and Contributors (available under <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a>)</p>
</div>

</body>

{% endautoescape %}
