{% load i18n %}
{% autoescape on %}
{% load markup %}
{% load markup_filter %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}">
<head>
 <title>Route information</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/standard.css">
</head><body>

<a href="/">{% trans "Back to map" %}</a>


<div class="route-info-header"><a href="http://www.openstreetmap.org/browse/relation/{{route.id}}">{{route.id}}</a></div>
<div class="route-info-content">
<h1 class="route-info-title"><img src="{{ MEDIA_URL }}/{{ symbolpath }}/{{route.symbol}}.png"> {{route.name}}</h1>

<div class="iconlist">
 <a href="{% url relationmap route.id %}" title="{% trans 'Center map on route' %}"><img src="{{ MEDIA_URL }}/img/target.png"></a>
 <a href="{% url route:gpx route.id %}" title="{% trans 'Download GPX' %}"><img src="{{ MEDIA_URL}}/img/gpx.png"></a>
 </div>


<div class="routedescr">{{loctags.description}}</div>
{% if loctags.note %}
{% comment %}Translators: This is a note left by mappers, see http://wiki.openstreetmap.org/wiki/Key:note{% endcomment %}
<div class="routenote"><i>{% trans 'Note' %}:</i> {{loctags.note}}</div>
{% endif %}


<div class="dllist">
{% for k,v in infobox %}
  <div class='dlline'>
      <span class='dlitem'>{{k}}:</span><span class='dldef'>{{v}}</span>
  </div>
{% endfor %}
</div>

{% with loctags.get_url as wwwurl %}
{% with loctags.get_wikipedia_url as wikiurl %}
{% if wwwurl or wikiurl %}
<div class="dllist">
	
{% if show_elevation_profile %}
<div class='dlline'>
<span class='dlitem'>Height meters:</span><span id="heightmeters" class='dldef'></span> m
</div>
{% endif %}
	
	<div class='dlline'>
<span class='dlitem'>{% trans "Links" %}:</span>
{% if wwwurl %}
<span class='dllink'>
 ⇨ <a href="{{wwwurl|safe}}">{% trans "Website" %}</a>
</span>
{% endif %}
{% if wikiurl %}
<span class='dllink'>
 ⇨ <a href="{% url route:wikilink route.id %}">{% trans "Wikipedia" %}</a>
</span>
{% endif %}
</div></div>
{% endif %}{% endwith %}{% endwith %}

{% if show_elevation_profile %}
<h2 id="elevationprofile-header" class="section-closed">{% trans "Elevation profile" %}</h2>
<div class="elevationprofileClass">
    <div id="elevationProfileLoader"><img src="{{ MEDIA_URL }}/img/ajax-loader.gif"><br /> {% trans 'Elevation profile is loading' %}</div>
    <div id="elevationProfile"></div>
    <div id="elevationProfileErrorText">{% trans 'No elevation profile shown because route is too complex, or elevation data is lacking.' %}</div>
    <span id="elevProfileXlabel" style="display:none;">{% trans "Distance" %}</span>
    <span id="elevProfileYlabel" style="display:none;">{% trans "Meters above sea level" %}</span>
</div>
{% endif %}




{% if subroutes %}<h2 class="section-open">{% trans 'Sections' %}</h2>

<div>
<ul>
{% for sec in subroutes %}
<li><a href="javascript:showRouteInfo('{{sec.id}}')">{{sec.name}}</a>
{% if sec.origname %}<br><small>{{sec.origname}}</small>{% endif %}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% comment %}Translators: If a route is part of other route(s), those routes will be listed under this heading. Read more at http://waymarkedtrails.org/help/rendering/hierarchies{% endcomment %}
{% if superroutes %}<h2 class="section-open">{% trans 'Part of' %}</h2>

<div>
<ul>
{% for sec in superroutes %}
<li><a href="javascript:showRouteInfo('{{sec.id}}')">{{sec.name}}</a>
{% if sec.origname %}<br><small>{{sec.origname}}</small>{% endif %}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% comment %}Translators: Tags has the OSM-specific meaning here of a key/value pair describing the object. Most of the time it might better be left untranslated. Read more at http://wiki.openstreetmap.org/wiki/Tags{% endcomment %}
<h2 class="section-open">{% trans "OpenStreetMap tags" %}</h2>

<div>
<table dir="ltr">

{% for k,v in route.tags.items %}
  <tr><td valign="top">{{k}}</td><td valign="top">:</td><td>{{v}}</td></tr>
{% endfor %}

</table>
</div>

</div>
<div class="copyright">
<p>{% trans "Map data © [OpenStreetMap](http://www.openstreetmap.org) under [ODbL](http://www.openstreetmap.org/copyright)"|markdown|filterpara  %}</p>
</div>

</body>
</html>

{% endautoescape %}
