{% load i18n %}
{% autoescape on %}
{% load markup %}
{% load markup_filter %}

<html>
<head>
 <title>Area Route List</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/baselayout.css">
</head><body>
<a href="/">{% trans "Back to map" %}</a>
<div class="mainpage">

<h1>{% trans "Routes in area" %}</h1>

<table class="routelist" width=100%>
{% for objlist in objs %}
{% if objlist.routes %}
    <tr><th colspan="2" align="{% if LANGUAGE_BIDI %}right{% else %}left{% endif %}">{{ objlist.title }} <img width="50" height="10" src="{{ MEDIA_URL }}/img/route_{{ objlist.shorttitle }}.png"></th></tr>
    {% for route in objlist.routes|dictsort:"name" %}
    <tr onmouseover="highlightRoute('{{route.id}}');" onmouseout="unhighlightRoute('{{route.id}}');">
    <td class="routesym"><img src="{{ MEDIA_URL }}/{{ symbolpath }}/{{route.symbol}}.png"></td>
    <td><a href="javascript:showRouteInfo('{{route.id}}')">{{route.name}}</a>
    {% if route.origname %}<br><small>{{route.origname}}</small>{% endif %}
    </td>
    </tr>
    {% endfor %}
{% endif %}

{% endfor %}

</table>

{% if hasmore %}
<p class="routefooter">{% trans "Zoom in to see more routes" %}</p>
{% endif %}
</div>

<a class="routelink" href="{% url route_jsonbox %}?bbox={{ bbox }}&ids={{osmids}}">route link</a>

<div class="copyright">
<p>{% trans "Map data © [OpenStreetMap](http://www.openstreetmap.org) under [ODbL](http://www.openstreetmap.org/copyright)"|markdown|filterpara  %}</p>
</div>
</body>
</html>
{% endautoescape %}
