{% load i18n %}
{% autoescape on %}

<head>
 <title>Area Route List</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/standard.css">
</head><body>
<a href="/">{% trans "Back to map" %}</a>
<div class="mainpage">

<h1>{% trans "Routes in area" %}</h1>

{% if objs.0 %}
<h2>{% trans "continental" %} <img width="50" height="10" src="{{ MEDIA_URL }}/img/route_int.png"></h2>
<ul>
{% for route in objs.0|dictsort:"name" %}
<li style="list-style-image:url({{ MEDIA_URL }}/{{ symbolpath }}/{{route.symbol}}.png)"><a href="javascript:showRouteInfo('{{route.id}}')">{{route.name}}</a>
{% if route.origname %}<br><small>{{route.origname}}</small>{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}

{% if objs.1 %}
<h2>{% trans "national" %} <img width="50" height="10" src="{{ MEDIA_URL }}/img/route_nat.png"></h2>
<ul>
{% for route in objs.1|dictsort:"name" %}
<li style="list-style-image:url({{ MEDIA_URL }}/{{ symbolpath }}/{{route.symbol}}.png)"><a href="javascript:showRouteInfo('{{route.id}}')">{{route.name}}</a>
{% if route.origname %}<br><small>{{route.origname}}</small>{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}

{% if objs.2 %}
<h2>{% trans "regional" %} <img width="50" height="10" src="{{ MEDIA_URL }}/img/route_reg.png"></h2>
<ul>
{% for route in objs.2|dictsort:"name" %}
<li style="list-style-image:url({{ MEDIA_URL }}/{{ symbolpath }}/{{route.symbol}}.png)"><a href="javascript:showRouteInfo('{{route.id}}')">{{route.name}}</a>
{% if route.origname %}<br><small>{{route.origname}}</small>{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}

{% if objs.3 %}
<h2>{% trans "other" %} <img width="50" height="10" src="{{ MEDIA_URL }}/img/route_other.png"></h2>
<ul>
{% for route in objs.3|dictsort:"name" %}
<li style="list-style-image:url({{ MEDIA_URL }}/{{ symbolpath }}/{{route.symbol}}.png)"><a href="javascript:showRouteInfo('{{route.id}}')">{{route.name}}</a>
{% if route.origname %}<br><small>{{route.origname}}</small>{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% if hasmore %}
<p class="routefooter">{% trans "Zoom in to see more routes" %}</p>
{% endif %}

</div>

<div class="copyright">
    <p>All data by <a href="http://www.openstreetmap.org">OpenStreetMap</a> and Contributors (available under <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA</a>)</p>
</div>
</body>
{% endautoescape %}
