/***** gloabal settings *****/

body {
    margin : 0;
    padding : 0;
}

a img {
    border: 0 none
}

:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

:visited {
    text-decoration: none
}

.invisible {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.absright {
    position: absolute;
    right: 3px;
    top: 0
}

.rtl {
    text-align: right;
}

/***** General Header ******/

.headline {
    background-repeat: no-repeat;
    background-position: right top;    
    position: relative;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 55px;
    margin: 0px;
    padding: 0px
}

.headline h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    padding-top: 5px;
    direction: ltr
}

.subheadline {
    position: absolute;
    font-size: 0.8em;
    left: 0px;
    width: 100%;
    top: 55px;
    height: 1.2em;
    border-width: 2px;
    border-color: #1c2510;
    border-bottom-style: solid;
    text-align: left;
    text-indent: 3px
}

/***** General Footer *****/

.footline {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1.5em;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    border-color: #1c2510;
    border-width: 2px;
    border-top-style: solid;
    overflow: hidden;
    text-align: left
}

/********************** Hovering Drop-Down Box ***********************/

.dropdown {
    position: relative;
    margin: 0px;
    padding: 0px;
    vertical-align: super;
    font-size: 0.4em;
    z-index: 10

}
.dropdown .ddtitle {
        margin: 0;
        padding: 0.4em
}
.dropdown:hover .ddtitle {
        color: #ddc595;
        background-color: #1d3053
}
.dropdown ul {
        display: none;
        position: absolute;
        left: 0;
        padding: 0;
        top: 0
}
.dropdown:hover ul {
        width: 14em;
        display: block;
        background-color: #d6eabb;
        border: 1px solid #1d3053
}
.dropdown ul li {
        display: block
}
.dropdown ul li a {
        display: block;
        color: #1d3053;
        text-decoration: none;
        padding: .25ex .5em
}
.dropdown ul li a:hover {
        color: #ddc595;
        background-color: #1d3053
}

/******* Main map *******/

#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding : 0;
    margin : 0
}


/******* Map sidebar ******/

.sidebar {
    right: 0;
    bottom: 0;
    width: 25%;
    height: 80%;
    overflow: auto;
    position: absolute;
    background-color: #ecece9;
    border: 2px solid #222;
    margin: 4px;
    max-width: 25em;
    padding: 3px
}

/* close button */
.sidebar #sbclose {
    position: absolute;
    right: 2px
}

.sidebar #sbclose_rtl {
    position: absolute;
    left: 2px
}

/* Routecontent */
.sbcontent {
    font-size: 0.8em
}

.sbcontent h1 {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    font-size: 1.6em
}

.sbcontent .subtitle {
    font-size: 0.6em
}

.sbcontent h2 {
    font-style: italic;
    font-size: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0.1em;
    background-color: #dde
}

.sbcontent .backlink {
    font-size: 0.75em;
    text-align: left
}

.sbcontent .routedescr {
    margin-bottom: 0.2em;
    font-size: 0.9em
}
.sbcontent .routenote {
    margin-bottom: 0.2em;
    font-size: 0.8em
}

.sbcontent table {
    font-size: 1em
}

.sbloading {
    font-style: oblique
}

.dllist {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 0.3em;
    line-height: 150%
}

.dlitem {
    font-weight: bold;
    padding-right: 1ex
}

.dllink {
    padding-right: 1ex
}

#routeselector {
    position: absolute;
    background-color: #ecece9;
    border: 2px solid #222;
    max-height: 100%;
    margin: 4px;
    padding: 3px;
    right: 0;
    bottom: 2.2em;
    overflow: hidden;
    font-size: 1.1em;
    font-weight: bold;
    font-variant: small-caps;
    color: #000              
}

/* route list */

.routelist {
    border-spacing: 0
}

.routelist .routesym {
    text-align: center;
    width: 40px
}

.routelist th {
    font-style: italic;
    font-size: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0.1em;
    background-color: #dde
}

.routelist a:hover {
    text-decoration: none;
    background-color: #a4a4b4
}

.routelist tr:hover {
    background-color: #a4a4b4
}

.routelist td {
    padding-left: 3px
}
