.header { 
    background-color: #778bf2;
    color: #101010
}

.header :link, .header :visited {
    color: #000;
}

.subheader {
    background-color: #414c87;
    color: #b6d293
}

.subheader :link, .subheader :visited {
    color: #dde530;
}
