.header { 
    background-color: #778bf2;
    color: #101010
}

.subheader {
    background-color: #414c87;
}

.header :link {
    color: #dde530;
    font-weight: bold
}

.subheader :link {
    color: #dde530
}

.header :visited {
    color: #dde530;
    font-weight: bold
}

.subheader :visited {
    color: #dde530
}

