.header { 
    background-color: #81AA4B;
    color: #000
}

.header :link, .header :visited {
    color: #000;
}

.subheader {
    background-color: #526d30;
    color: #dbfbb1
}

.subheader :link, .subheader :visited {
    color: #fcd76d;
}
