body { 
    overflow: hidden;
}

/************************    Header     ****************************/

#map_maplinks {
    position: absolute;
    top: 12px;
    right: 4px
}

/******************************    Map    *************************/

/* adapt the controls */
.mapSwitch {
    position: absolute;
    top: 110px;
    right: 0px
}

#switcherWindow {
    background-color: navy;
    color: white;
    padding: 6px;
    padding-bottom: 15px
}

#switcherWindow p {
    margin: 16px 0 0 0;
}

#switcherClose {
    position: absolute;
    right: 2px;
    top: 2px
}

.sliderbg { 
   position:relative;
   margin: 0;
   padding-left: 5px;
   height:28px;
   width:215px;
}

.sliderthumb {
    top: 8px;
    left: 0;
    position: absolute;
}

.olMap .OsgendeRouteMapPermalink {
    top: 80px;
    right: 4px
}

.olMap .OsgendeRouteMapMousePosition {
    bottom: 2.0em;
    left: 2px;
    font-size: 0.8em
}

.olMap .olControlLayerSwitcher {
    top: 90px
}

.olMap .olControlPanZoomBar {
    margin-top: 80px;
    margin-left: 0
}

.olMap .olControlScaleLine {
    bottom: 4.2em;
    font-size: 0.6em
}

/************************   side bar info    ******************************/

#elevationProfileLoader {
    display: none;
    margin: 30px; 
}

#elevationProfile {
    display: none;
    margin: 15px; 
    width: 300px;
    height: 200px;
}

#elevationProfileErrorText {
    display: none;
    margin: 15px;
}

/*********************** language chooser ****************************/

.dropdown ul {
    left : 0
}


/***************************   Footer   ******************************/

#map_footer {
    font-weight: bold;
    text-indent: 3px
}

#map_footer #searchform p {
    margin: 0;
    padding: 0;
}
