body { 
    overflow: hidden;
}

/************************    Header     ****************************/

#map_maplinks {
    position: absolute;
    top: 12px;
    right: 4px
}

#map_shr {
    padding: 1px 5px;
}


/******************************    Map    *************************/

/* adapt the controls */
.mapSwitch {
    position: absolute;
    top: 110px;
    right: 0px
}

#switcherWindow {
    background-color: navy;
    color: white;
    padding: 6px;
    padding-bottom: 15px
}

#switcherClose {
    position: absolute;
    right: 2px;
    top: 2px
}

.sliderbg { 
   position:relative; 
   height:10px; 
   width:220px;
}

.sliderbgimg {
    position: absolute;
    top: -8px;
    left: 5px
}

.olMap .OsgendeRouteMapPermalink {
    top: 80px;
    right: 4px
}

.olMap .olControlMousePosition {
    bottom: 2.0em;
    left: 2px;
    font-size: 0.8em
}

.olMap .olControlLayerSwitcher {
    top: 90px
}

.olMap .olControlPanZoomBar {
    margin-top: 80px;
    margin-left: 0
}

.olMap .olControlScaleLine {
    bottom: 4.2em;
    font-size: 0.6em
}

/***************************   Footer   ******************************/

#map_footer {
    font-weight: bold
}


