
/************************    Header     ****************************/

#map_header { 
    height: 20px
}

#map_header h1 {
    font-size: 15px;
    padding-top: 5px;
}


#map_subheader {
    top: 20px;
    font-size: 9px;
    height: 10px;
    border-width: 1px;
    padding-top: 1px
}

.absright {
    margin-top: 1px
}


/******************************    Map    *************************/

/* adapt the controls */
.olMap .OsgendeRouteMapPermalink {
    top: 36px;
    right: 4px;
    font-size: 12px
}

.olMap .olControlZoom {
    top: 50px;
    left: 4px;
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: none;
}

.olMap .olControlScaleLine {
    bottom: 12px;
    left: 4px;
    font-size: 7px
}

/************************   warning upon first loading    ******************************/

#dataWarning {
    display: none;
}

#facybox {
  position: absolute;
  width: 95%;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  margin-top: 50px;
}


/************************   side bar    ******************************/


#elevationProfileLoader {
    display: none;
    margin: 20px; 
}

#elevationProfile {
    display: none;
    margin-left: 5px;
    margin-top: 15px; 
    width: 160px;
    height: 100px;
}

#elevationProfileErrorText {
    display: none;
    margin-left: 5px;
    margin-top: 15px; 
}

#routeselector {
    bottom: 11px;
}

.sidebar {
    width: 80%;
    max-width: 12em;
    overflow: scroll
}


.sbcontent {
    font-size: 10px
}

/*********************** language chooser ****************************/

#langchooser {
    position : absolute;
    top : 2px;
    right : 2px;
}

.dropdown ul {
    right : 0;
    max-height: 10em
}

.dropdown {
    font-size: 0.8em;
}

.dropdown .ddtitle {
    padding: 0.2em;
    font-weight: normal;
}

/***************************   Footer   ******************************/

#map_footer {
    height: 9px;
    border-width: 1px;
    font-size: 7px;
    text-indent: 3px
}

#map_footer #searchform p {
    margin: 0;
    padding: 0;
}

#map_footer #searchform p input{
    font-size: 7px;
    border: 0;
}


