
/************************    Header     ****************************/

#map_header { 
    height: 20px
}

#map_header h1 {
    font-size: 15px;
}


#map_subheader {
    top: 20px;
    font-size: 9px;
    height: 10px;
    border-width: 1px;
    padding-top: 1px
}

.absright {
    margin-top: 1px
}


/******************************    Map    *************************/

/* adapt the controls */
.olMap .OsgendeRouteMapPermalink {
    top: 36px;
    right: 4px;
    font-size: 12px
}

.olMap .olControlZoomPanel {
    top: 50px;
    left: 4px
}

.olMap .olControlScaleLine {
    bottom: 12px;
    left: 4px;
    font-size: 7px
}

/************************   side bar    ******************************/

#routeselector {
    bottom: 11px;
}

.sidebar {
    width: 80%;
    max-width: 12em;
    overflow: scroll
}


.sbcontent {
    font-size: 10px
}

/*********************** language chooser ****************************/

#langchooser {
    position : absolute;
    top : 2px;
    right : 2px;
}

.dropdown ul {
    right : 0;
    max-height: 10em
}

.dropdown {
    font-size: 0.8em;
}

/***************************   Footer   ******************************/

#map_footer {
    height: 9px;
    border-width: 1px;
    font-size: 7px;
    text-indent: 3px
}


