.header { 
    background-color: #353d6b;
}

#map_header {
    color: #101010
}

#header {
    color: #101010
}

.subheader {
    background-color: #161a2d;
    color : #c9cdd2
}

.header :link {
    color: #F1F85E
}

.header :visited {
    color: #f1f85e
}

.subheader :link {
    color: #F1F85E
}

.subheader :visited {
    color: #f1f85e
}


