#map_header { 
    background-color: #778bf2;
    color: #202020
}

#map_subheader {
    background-color: #414c87
}

#map_shr {
    background-color: #414c87
}

.border :link {
    color: #f1f85e;
    font-weight: bold
}

.footer :link {
    color: #00a
}

.border :visited {
    color: #f1f85e;
    font-weight: bold
}

.footer :visited {
    color: #00a
}

#map_footer {
    background-color: #7185EB
}

#map_right_footer {
    background-color: #7185EB
}


#header { 
    background-color: #778bf2;
    color: #202020
}

#subheader {
    background-color: #414c87
}

#subheader_right {
    background-color: #414c87
}
