.header { 
    background-color: #353d6b;
    color : #d4d6e1
}

.header :link, .header :visited {
    color : #d4d6e1
}

.subheader {
    background-color: #161a2d;
    color : #c9cdd2
}

.subheader :link, .subheader :visited {
    color: #F1F85E
}
