.header { 
    background-color: #c25366;
}

.subheader {
    background-color: #5f2932;
    color: #b9b6c3
}

.header :link {
    color: #00157d;
    font-weight: bold
}

.subheader :link {
    color: #a65a0e
}

.header :visited {
    color: #00157d;
    font-weight: bold
}

.subheader :visited {
    color: #a65a0e
}
