.header { 
    background-color: #c25366;
}

.subheader {
    background-color: #5f2932;
    color: #b9b6c3
}

.header :link, .header :visited {
    color: #000;
}

.subheader :link, .subheader :visited {
    color: #8AA145
}

