/***** General Header ******/

.headline {
    height: 20px
}

/* languagechooser right of h1 */
.headline h1 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 2px;
    float: left
}

.subheadline {
    top: 20px;
    font-size: 9px;
    height: 10px;
    border-width: 1px;
    padding-top: 1px
}

#langchooser{
    display:none
}

/***** Map header ****/

#map_maplinks {
    display: none
}

/**** Map layout ****/

.mapSwtich {
    display:none
}

.olMap .OsgendeRouteMapPermalink {
    display:none
}

.olMap .OsgendeRouteMapMousePosition {
    display:none
}

.olMap .olControlPanZoomBar {
    margin-top: 25px;
    margin-left: 0
}

.olMap .olControlScaleLine {
    bottom: 4.2em;
    font-size: 0.6em
}

.olMap .olControlZoom {
    top: 50px;
    left: 4px;
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: none
}

#routeselector {
display:none
}

.olMap .olControlScaleLine {
    font-size: 0.6em
}

#attribution {
    position:absolute;
    right:0px;
    font-size: 0.6em;
    background-color:white;
    color:black;
    padding:1px
}

#attribution .additional {
    display:none
}


@media (orientation:portrait) {
    .olMap .olControlScaleLine {
        bottom: 4.1em;
        font-size: 0.6em
    }

    #attribution {
        bottom: 4.1em
    }
}


@media (orientation:landscape) {
    .olMap .olControlScaleLine {
       bottom: 0px;
       left: 40px
    }

    #attribution {
        bottom: 2px
    }
}

/***** General Footer *****/

#searchform {
    visibility: hidden
}

@media (orientation:portrait) {
    .footline {
        height: 35px;
    }

    #toolbar {
        right: 1px;
        width: auto;
        bottom: 1px;
    }
    #toolbar li, #prefbar li {
        float: left;
    }

    #prefbar {
        left: 1px;
        width:auto;
        bottom: 1px
    }

}

@media (orientation:landscape) {
    .footline {
        right: 0px;
        top: 45px;
        height: auto;
        width: 0px;
        overflow: visible
    }
    #toolbar {
        position: fixed;
        right: 0px;
        top: 45px;
        background: none;
    }

    #toolbar .toolbaritem {
        width: 100%;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px
    }
    #toolbar li a {
        margin: 1px;
    }
    #prefbar {
        position: fixed;
        right: 2px;
        bottom: 20px;
        background: none
    }
    #prefbar li {
        float: left;
    }


}



/******* Map sidebar ******/

@media (orientation:portrait) {
    #sidebar {
        left: 2.5%;
        top: 70px;
        width: 95%;
        height: 80%;
    }

    #sidebar-header {
        width: 95%;
        top: 35px
    }
}

@media (orientation:landscape) {
    #sidebar {
        left: 10%;
        top : 51px;
        width: 80%;
        height: 75%;
    }

    #sidebar-header {
        top: 15px;
        width: 80% 
}

/**** Docpage styles *****/

.docpage {
    font-size: 0.9em
}

@media (orientation:portrait) {
    #menubar {
        width : 95%;
        margin-left : 2.5%;
        margin-top: 50px;
    }

    .docpage {
        width : 95%;
        margin-left : 2.5%;
    }
}

@media (orientation:landscape) {
    #menubar {
        margin : 5px;
        position: fixed;
        width : 12em;
        left : 0;
        top: 40px;
    }

    .docpage {
        -webkit-text-size-adjust: none;
        margin-left: 14em;
        max-width: 50em; 
        padding-left: 1em;
        margin-top:50px;
        margin-bottom:3em;
        margin-right:6px
    }
}

#navigation {
    top: 40px;
    left: 10px;
    position: absolute
}


