body { 
    background-color: #e8eccb;
}

#header {
    margin-bottom : 1.5em;
}


h1 {
    font-size: 1.6em
}


#menubar {
    font-size: 0.9em;
    background-color: #e8ecf3;
    margin : 0.5em;
    position: absolute;
    width : 17em;
    left : 0;
    border-color : #ddd;
    border-width: 2px;
    border-style: solid
}

.sidemenu {
    padding : 0.5em;
    margin: 0
}

.sidemenu li {
    list-style-type: none;
    padding: 1px 0px
}
.sidemenu ul {
    padding-left: 2em;
    font-size: 0.9em
}

#mainpage {
    margin-left: 16em;
    max-width: 50em; 
    background-color: #E9ECD4;
    padding-left: 1em   
}

#footer {
    font-size: 0.6em;
    margin-top: 10px;
    padding-top: 5px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #1c2510
}

.dropdown ul {
    left : 0
}


