{% load i18n %}
{% load markup %}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/{{ iconimg }}" />
    <title>Error - {% trans maptopic %} - Map of Waymarked Trails</title>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/baselayout.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/standard.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/rest.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/{{ cssfile }}">
</head>

<body>

    <div id="header" class="header headline" style="background-image:url('{{ MEDIA_URL }}/img/{{ bgimage }}')">
        <h1>Waymarked Trails: {% trans maptopic %} {% include "snippets/langchooser.html"%}</h1>
    </div>
    <div id="subheader" class="subheader subheadline">
        <a class="menu" href="{% url simplemap %}">{% trans "Back to map" %}</a>
    </div>


    <div id="mainpage">
      <h1>{% trans "Internal Server Error" %} (Error 500)</h1> 
      {% trans "Something very unexpected just happend on the server. Please, file a bug report and don't forget to describe in detail what you did to see this error." %}
    </div>

    </div>
</body>
</html>

