{% load i18n %}
{% load localeurl_tags %}

{% url simplemap as base_url %}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/{{ iconimg }}" />
    <title>Waymarked Trails - {% trans maptopic %}</title>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/map.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/{{ cssfile }}" />

    <!-- external libraries -->
    <!-- script src="OpenLayers/lib/Firebug/firebug.js"></script -->
    <script src="{{ MEDIA_URL }}/js/OpenLayers-111119.js"></script>
    <!-- script src="http://www.openlayers.org/api/OpenLayers.js"></script -->
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.6.4.min.js"></script>

    <!-- internal scripts -->
    <script type="text/javascript">
        var minlat = {{ minlat }};
        var maxlat = {{ maxlat }};
        var minlon = {{ minlon }};
        var maxlon = {{ maxlon }};
        var basemapurl = 'http://{{ request.get_host }}{{ base_url }}';
        var routeinfo_baseurl =  '{% url route_list %}';
        var searchurl = '{% url search %}';
        var showroute = {{ showroute }};
        var baseopacity = {{ baseopacity }};
        var routeopacity = {{ routeopacity }};
        var hillopacity = {{ hillopacity }};
        var routemap_mediaurl = '{{ MEDIA_URL }}';
    </script>

    <script src="{{ MEDIA_URL }}/js/Map.js"></script>
    <script src="{{ MEDIA_URL }}/js/Routes.js"></script>
    <script src="{{ MEDIA_URL }}/js/Search.js"></script>
</head>

<body id="world" onload="initMap('{{ tileurl }}', false);">

    <div id="map" class="fullmap">This map needs Javascript. Please activate.</div>

    <div id="map_header" class="header" style="background-image:url('{{ MEDIA_URL }}/img/{{ bgimage }}')">
        <h1>Waymarked Trails: {% trans maptopic %}
        <span id="langchooser" class="dropdown header">
        <span class="ddtitle">{{LANGUAGE_CODE|upper}} <img src="{{ MEDIA_URL }}/img/tango-flags.png" /></span>
        <ul>
        {% for lang in LANGUAGES %}
            {% ifequal lang.0 LANGUAGE_CODE %}
              <li>{{lang.1 }}</li>
            {% else %}
              <li><a class="maplink" href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>
            {% endifequal %}
        {% endfor %}
        </ul>
        </span>
        </h1>
    </div>
    <div id="map_subheader" class="subheader">
        {% trans "last update" %}: {{updatetime}}
    </div>
    <div id="map_shr" class="subheader">
            Map data by <a href="http://www.openstreetmap.org">OpenStreetMap</a> and Contributors
            (<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-by-SA</a>), 
            Hillshading by <a href="http://hikebikemap.de">Hike & Bike Map</a>


     </div>

    <div id="map_footer" class="header">
        <form action="" onsubmit=" return searchTerm(this.searchterm.value)">
        {% trans "Search" %}: <input type="text" size="30" name="searchterm"> 
        <input type="submit" name="searchok" value="{% trans "Go" %}">
    </div>

    <div id="map_right_footer" class="header">
      <a href="{% url helppage 'about' %}">{% trans "About this map..." %}</a>
    </div>


    <a id="routeselector" class="sidebarsel" href="javascript:openRouteView()">
        {% trans "Routes" %}</a>

    <div class="sidebar invisible">
      <a href="javascript:closeSidebar()"><img src="{{ MEDIA_URL }}/img/close.png"></a>

      <div id="routeview" class="sbcontent">
        <div id="routeloader" class="sbloading">{% trans "Loading data..." %}</div>
        <div id="routecontent"></div>
      </div>

      <div id="searchview" class="sbcontent">
        <h1>Searching for <i id="searchterm"></i></h1>
        <h2>{% trans "Routes" %}</h2>
           <div id="rsearchcontent" class="saerchcontent"></div>
           <div id="rsearchloader" class="sbloading">{% trans "Loading data..." %}</div>
        <h2>{% trans "Places" %}</h2>
           <div id="psearchloader" class="sbloading">{% trans "Loading data..." %}</div>
           <div id="psearchcontent" class="searchcontent"></div>
      </div>

      <div id="routeinfo" class="sbcontent">
       <a id="routebacklink" class="backlink" href="javascript:openRouteView()()">{% trans 'Back to route list' %}</a>
       <a id="searchbacklink" class="backlink" href="javascript:showSearchResults()">{% trans 'Back to search results' %}</a>
       <div id="routeinfoloader" class="sbloading">{% trans "Loading data..." %}</div>
       <div id="routeinfocontent"></div>
      </div>
    </div>


    <div id="mapSwitcher">
      <a id="switcherSelector" class="mapSwitch" href="javascript:toggleMapSwitch()"><img src="{{ MEDIA_URL }}/js/img/layer-switcher-maximize.png"></a>
      <div id="switcherWindow" class="mapSwitch hiddenMapSwitch">
       <a id="switcherClose" href="javascript:toggleMapSwitch()"><img src="{{ MEDIA_URL }}/js/img/layer-switcher-minimize.png"></a>
         <p>{% trans "Mapnik base map" %}<br></p>
         <div id="basebg" class="sliderbg"><img class="sliderbgimg" src="{{ MEDIA_URL }}/img/bg-fader.gif"><div id="basethumb"><img src="{{ MEDIA_URL }}/img/thumb-n.gif"></div></div>
         <p>{% trans "Route layer" %}<br></p>
         <div id="routebg" class="sliderbg"><img class="sliderbgimg" src="{{ MEDIA_URL }}/img/bg-fader.gif"><div id="routethumb"><img src="{{ MEDIA_URL }}/img/thumb-n.gif"></div></div>
         <p>{% trans "Hill shading" %}<br></p>
         <div id="hillbg" class="sliderbg"><img class="sliderbgimg" src="{{ MEDIA_URL }}/img/bg-fader.gif"><div id="hillthumb"><img src="{{ MEDIA_URL }}/img/thumb-n.gif"></div></div>
       </div>
      </div>
    </div>

    <div id="map_maplinks">
      <a class="maplink" href="http://hiking.lonvia.de{{ base_url }}"><img src="{{ MEDIA_URL }}/img/map_hiking.png"></a>
      <a class="maplink" href="http://cycling.lonvia.de{{ base_url }}"><img src="{{ MEDIA_URL }}/img/map_cycling.png"></a>
      <a class="maplink" href="http://mtb.lonvia.de{{ base_url }}"><img src="{{ MEDIA_URL }}/img/map_mtb.png"></a>
      <a class="maplink" href="http://skating.lonvia.de{{ base_url }}"><img src="{{ MEDIA_URL }}/img/map_skating.png"></a>
    </div>

    <script type="text/javascript" src="{{ MEDIA_URL }}/js/slider-min.js"></script>
</script>


</body>

</html>

