{% load i18n %}
{% load markup %}
{% load markup_filter %}

{% url simplemap as base_url %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% trans mapdescription %}" />
    <meta name="keywords" lang="en" content="Waymarked Trails, OpenStreetMap, hiking, skating, cycling, mtb" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/{{ iconimg }}" />
    <title>Waymarked Trails - {% trans maptopic %}</title>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/baselayout.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/map.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/{{ cssfile }}" />

    <!-- external libraries -->
    <!-- script src="OpenLayers/lib/Firebug/firebug.js"></script -->
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/OpenLayers-120628.js"></script>
    <!-- script src="http://www.openlayers.org/api/OpenLayers.js"></script -->
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.6.4.min.js"></script>

    <!-- internal scripts -->
    <script type="text/javascript">
        var minlat = {{ minlat }};
        var maxlat = {{ maxlat }};
        var minlon = {{ minlon }};
        var maxlon = {{ maxlon }};
        var basemapurl = 'http://{{ request.get_host }}{{ base_url }}';
        var routeinfo_baseurl =  '{% url route_list %}';
        var searchurl = '{% url search %}';
        var showroute = {{ showroute }};
        var baseopacity = {{ baseopacity }};
        var routeopacity = {{ routeopacity }};
        var hillopacity = {{ hillopacity }};
        var routemap_mediaurl = '{{ MEDIA_URL }}';
    </script>

    <script type="text/javascript" src="{{ MEDIA_URL }}/js/Map.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/Routes.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/Search.js"></script>
</head>

<body{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} onload="initMap('{{ tileurl }}', false);">

    <div id="map" tabindex="0">{% trans "JavaScript needs to be activated to use this service." %}</div>

    <div id="map_header" class="header headline" style="background-image:url('{{ MEDIA_URL }}/img/{{ bgimage }}')">
        <h1>Waymarked Trails: {% trans maptopic %}</h1> {% include "snippets/langchooser.html"%}
    </div>
    <div id="map_subheader" class="subheader subheadline">
        {% trans "Last update" %}: {{updatetime}}
      <div class="absright">
      {% trans "Map data by [OpenStreetMap](http://www.openstreetmap.org) and contributors ([CC BY-SA](http://creativecommons.org/licenses/by-sa/2.0/))"|markdown|filterpara  %}, {% trans "hillshading by [Hike & Bike Map](http://hikebikemap.de)"|markdown|filterpara %}
     </div>
    </div>

    <div id="map_footer" class="header footline">
        {% include "snippets/searchbox.html" %}
        <div id="map_right_footer" class="absright">
          <a href="{% url helppage 'about' %}">{% trans "About this map" %}</a>
        </div>
    </div>

    <div id="map_maplinks">
      <a class="maplink" href="http://hiking.lonvia.de{{ base_url }}"><img src="{{ MEDIA_URL }}/img/map_hiking.png" alt="{% trans "Hiking" %}" title="{% trans "Hiking" %}" /></a>
      <a class="maplink" href="http://cycling.lonvia.de{{ base_url }}"><img src="{{ MEDIA_URL }}/img/map_cycling.png" alt="{% trans "Cycling" %}" title="{% trans "Cycling" %}" /></a>
      <a class="maplink" href="http://mtb.lonvia.de{{ base_url }}"><img src="{{ MEDIA_URL }}/img/map_mtb.png" alt="{% trans "MTB" %}" title="{% trans "MTB" %}" /></a>
      <a class="maplink" href="http://skating.lonvia.de{{ base_url }}"><img src="{{ MEDIA_URL }}/img/map_skating.png" alt="{% trans "Inline Skating" %}" title="{% trans "Inline Skating" %}" /></a>
    </div>

    {% include "snippets/mapswitcher.html" %}
    {% include "snippets/sidebar.html" %}

</body>

</html>

