{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block bodyattr %}class="docpage-body"{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.6.4.min.js"></script>
{% endblock %}

{% block header-content %}
   <a href="{% url simplemap %}">{% trans "Back to map" %}</a>
{% endblock %}

{% block content %}
    {% include "snippets/docmenu.html" %}
    <div class="docpage">
        <h1>{{title}}</h1>    
        {{content|markdown}}
    </div>
{% endblock %}
