{% load i18n %}
{% load markup %}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/{{ iconimg }}" />
    <title>{{title}} - WT {% trans maptopic %} - Map of Waymarked Trails</title>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/baselayout.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/standard.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/rest.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/{{ cssfile }}">
</head>

<body>

    <div id="header" class="header headline" style="background-image:url('{{ MEDIA_URL }}/img/{{ bgimage }}')">
        <h1>Waymarked Trails: {% trans maptopic %} {% include "snippets/langchooser.html"%}</h1>
    </div>
    <div id="subheader" class="subheader subheadline">
        <a class="menu" href="{% url simplemap %}">{% trans "Back to map" %}</a>
    </div>

    <div id="menubar">
        <ul class="sidemenu">
            {% for item in menu %}
            {% ifequal item 'SUBMENU' %}<ul>
            {% else %}{% ifequal item '/SUBMENU' %}</ul>
        {% else %}<li><a href="{% url helppage item.0 %}">{{item.1}}</a></li>
            {% endifequal %}{% endifequal %}
            {% endfor %}
        </ul>
    </div>

    <div id="mainpage">
        <h1>{{title}}</h1>    
        <div class="rest">{{content|restructuredtext}}</div>


<div id="footer">
</div>

    </div>
</body>
</html>

