{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.6.4.min.js"></script>
{% endblock %}

{% block header-content %}
   <a href="{% url simplemap %}">{% trans "Back to map" %}</a>
{% endblock %}

{% block content %}
    <div id="menubar">
        <ul class="sidemenu">
            {% for item in menu %}
            {% ifequal item 'SUBMENU' %}<ul>
            {% else %}{% ifequal item '/SUBMENU' %}</ul>
        {% else %}<li><a href="{% url helppage item.0 %}">{{item.1}}</a></li>
            {% endifequal %}{% endifequal %}
            {% endfor %}
        </ul>
    </div>

    <div class="docpage">
        <h1>{{title}}</h1>    
        {{content|markdown}}
    </div>
{% endblock %}
