{% load i18n %}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% trans "Error" %} - Waymarked Trails</title>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/baselayout.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/standard.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/rest.css">
</head>

<body>

    <div id="mainpage">
      <h1>{% block title %}{% endblock %} ({% block errorno %}{% endblock %})</h1> 
      {% block comment %}{% endblock %}
    </div>

    </div>
</body>
</html>

