{% load i18n %}
{% load markup %}
{% load markup_filter %}

{% url simplemap as base_url %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% trans mapdescription %}" />
    <meta name="keywords" lang="en" content="Waymarked Trails, OpenStreetMap, hiking, skating, cycling, mtb" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/{{ iconimg }}" />
    <title>Waymarked Trails - {% trans maptopic %}</title>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/baselayout.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/map_mobile.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/{{ cssfile }}" />

    <!-- external libraries -->
    <!-- script src="OpenLayers/lib/Firebug/firebug.js"></script -->
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/OpenLayers-120628.js"></script>
    <!-- script src="http://www.openlayers.org/api/OpenLayers.js"></script -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/js/theme/default/style.mobile.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.6.4.min.js"></script>

    <!-- internal scripts -->
    <script type="text/javascript">
        var minlat = {{ minlat }};
        var maxlat = {{ maxlat }};
        var minlon = {{ minlon }};
        var maxlon = {{ maxlon }};
        var basemapurl = 'http://{{ request.get_host }}{{ base_url }}';
        var routeinfo_baseurl =  '{% url route_list %}';
        var searchurl = '{% url search %}';
        var showroute = {{ showroute }};
        var baseopacity = {{ baseopacity }};
        var routeopacity = {{ routeopacity }};
        var hillopacity = {{ hillopacity }};
        var routemap_mediaurl = '{{ MEDIA_URL }}';
    </script>

    <script type="text/javascript" src="{{ MEDIA_URL }}/js/Map.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/Routes.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/Search.js"></script>
</head>

<body id="world" onload="initMap('{{ tileurl }}', true);">

    <div id="map">{% trans "JavaScript needs to be activated to use this service." %}</div>

    <div id="map_header" class="header headline">
        <h1>Waymarked Trails: {% trans maptopic %}</h1>
    </div>
    <div id="map_subheader" class="subheader subheadline">
      <a href="{% url helppage 'about' %}">{% trans "About this map" %}</a>
      <div class="absright">
        {% trans "Last update" %}: {{updatetime|date:"SHORT_DATETIME_FORMAT"}}
      </div>
    </div>    

    <div id="map_footer" class="header footline">
    {% trans "Map data by [OpenStreetMap](http://www.openstreetmap.org) and contributors ([CC BY-SA](http://creativecommons.org/licenses/by-sa/2.0/))"|markdown|filterpara  %}
    </div>

    {% include "snippets/sidebar.html" %}

    {% include "snippets/langchooser.html"%}

</body>

</html>

