{% load localeurl_tags %}
{% load i18n %}
{% load markup %}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Waymarked Trails {% trans maptopic %} - osmc:symbols</title>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/standard.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/{{ cssfile }}">
</head>

<body>

    <div id="header" class="header">
        <h1>Waymarked Trails: {% trans maptopic %}</h1>
        <div class="absright"><img src="{{ MEDIA_URL }}/img/banner.jpg"></div>
    </div>
    <div id="subheader" class="subheader">
        <a class="menu" href="{% url simplemap %}">{% trans "Back to Map" %}</a>
    </div>
    <div id="subheader_right" class="langpanel;header">
        {% for lang in LANGUAGES %}
            {% ifequal lang.0 LANGUAGE_CODE %}
                <img src="{{ MEDIA_URL }}/img/flag_{{ lang.0 }}.png">
            {% else %}
            <a href="{{ request.path|chlocale:lang.0 }}"><img src="{{ MEDIA_URL }}/img/flag_{{ lang.0 }}.png"></a>
            {% endifequal %}
        {% endfor %}
    </div>

    <div id="mainpage">
        <h1>{% trans "Recognized Values for osmc:symbol" %}</h1>
        {% trans "For information about the syntax, see" %}
        <a href="{% url helppage 'rendering/osmc_symbol' %}">osmc:symbol</a>
        <h2>{% trans "Foreground" %}</h2>
        <ul>
            {% for fg in foreground %}
            <li style="list-style-image:url({{ MEDIA_URL }}/img/symbols/foreground/{{fg}}.png)">{{fg}}</li>
            {% endfor %}
         </ul>
        <h2>{% trans "Background" %}</h2>
        <ul>
            {% for fg in background %}
            <li style="list-style-image:url({{ MEDIA_URL }}/img/symbols/background/{{fg}}.png)">{{fg}}</li>
            {% endfor %}
         </ul>
    </div>

<div id="footer">
    Copyright 2011 Sarah Hoffmann. {% trans "Contents of this page licensend under" %} <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.{{baselang}}">Creative Commons Attribution 3.0 Germany License</a>. {% trans "See also" %} <a href="{% url helppage 'copyright' %}">{% trans "copyright page" %}</a>.

</div>

    </div>
</body>
</html>

