{% extends "base.html" %}
{% load i18n %}
{% load markup %}
{% load url from future %}

{% block bodyattr %}class="docpage-body"{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.6.4.min.js"></script>
{% endblock %}

{% block header-content %}
   <a href="{% url 'simplemap' %}">{% trans "Back to map" %}</a>
{% endblock %}

{% block content %}
   {% include "snippets/docmenu.html" %}
    <div class="docpage">
        {% comment %}Translators: Do not translate "osmc:symbol".{% endcomment %}
        <h1>{% trans "osmc:symbol tag values displayed on the map" %}</h1>
        {% trans "For information about the syntax, see the page about [the osmc:symbol tag](osmc)."|markdown %}
        {% comment %}Translators: The foreground is a kind of symbol, f. ex. "black_cross".{% endcomment %}
        <h2>{% trans "Foreground" %}</h2>
        <ul>
            {% for fg in foreground %}
            <li style="list-style-image:url({{ MEDIA_URL }}/img/osmc/foreground/{{fg}}.png)">{{fg}}</li>
            {% endfor %}
         </ul>
        <h2>{% trans "Background" %}</h2>
        <ul>
            {% for fg in background %}
            <li style="list-style-image:url({{ MEDIA_URL }}/img/osmc/background/{{fg}}.png)">{{fg}}</li>
            {% endfor %}
         </ul>
    </div>
{% endblock %}

