{% load i18n %}
{% load markup %}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>osmc:symbols - Waymarked Trails {% trans maptopic %}</title>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/baselayout.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/standard.css">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/{{ cssfile }}">
</head>

<body>

    <div id="header" class="header headline" style="background-image:url('{{ MEDIA_URL }}/img/{{ bgimage }}')">
        <h1>Waymarked Trails: {% trans maptopic %} {% include "snippets/langchooser.html"%}</h1>
    </div>
    <div id="subheader" class="subheader subheadline">
        <a class="menu" href="{% url simplemap %}">{% trans "Back to map" %}</a>
    </div>

    <div id="mainpage">
        <h1>{% trans "osmc:symbol tag: values displayed on the map" %}</h1>
        {% trans "For information about the syntax, see the page about [the osmc:symbol tag](rendering/osmc_symbol)."|markdown %}
        <h2>{% trans "Foreground" %}</h2>
        <ul>
            {% for fg in foreground %}
            <li style="list-style-image:url({{ MEDIA_URL }}/img/symbols/foreground/{{fg}}.png)">{{fg}}</li>
            {% endfor %}
         </ul>
        <h2>{% trans "Background" %}</h2>
        <ul>
            {% for fg in background %}
            <li style="list-style-image:url({{ MEDIA_URL }}/img/symbols/background/{{fg}}.png)">{{fg}}</li>
            {% endfor %}
         </ul>
    </div>

<div id="footer">
</div>

    </div>
</body>
</html>

