{% extends "pages/page-base.html" %}

{% macro _headsection(heading, options='class="data-field-optional"') -%}
<div {{options}} data-role="collapsible" data-inset="false" data-hidden="true" data-theme="d" data-mini="true" data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
  <h3>{{heading}}</h3>
  {{caller()}}
</div>
{%- endmacro %}

{% block page_id %}route{% endblock  %}

{% block page_error %}{% trans %}No details found for this object.{% endtrans %}{% endblock %}

{% block page_header %}<span data-field="id" data-db-type="osm-url"></span>{% endblock %}

{% block page_content %}
<div class="ui-body ui-mini">
  <!-- heading -->
  <h2 class="detail-header"><img src="" height="45" data-field="symbol_url" /><span data-field="name"></span></h2>
  <!-- control buttons -->
  <div data-role="controlgroup" data-type="horizontal" data-mini="true" data-theme='a'>
      <a href="#" class="zoom-button ui-btn ui-btn-icon-left ui-icon-eye ui-corner-all zoom-btn">{% trans %}Zoom in{% endtrans %}</a>
      <a href="#" class="gpx-button ui-btn ui-btn-icon-left ui-icon-arrow-d ui-corner-all" data-ajax="false" data-field="id" data-db-type="api-link" data-db-api="gpx" data-rel="external">{% trans %}GPX{% endtrans %}</a>
  </div>
  <!-- misc info -->
  <div class="data-field-optional"><span data-field="description"></span></div>
  <div class="data-field-optional">
      <small><i>{% trans %}Note{% endtrans %}: </i><span data-field="note"></span></small>
  </div>
  {% set descriptors = [(_('Mapped length'), 'mapped_length', 'length'),
                       (_('Official length'), 'official_length', 'length'),
                       (_('Operator'), 'operator', 'text')] %}
  <div class="dl-block">
  {% for title, field, dbtype in descriptors %}
  <div class="dl-line data-field-optional"> 
    <span class="dl-item">{{ title }}:</span><span class="dl-value" data-field="{{ field }}" data-db-type="{{dbtype}}"></span>
  </div>
  {% endfor %}
  </div>

  <div data-ajax="false">
  <span class="data-field-optional">⇨ <a href="#" data-field="url" data-rel="external">{% trans %}Website{% endtrans %}</a></span>
  <span class="data-field-optional">⇨ <a href="#" data-field="wikipedia" data-db-type="api-link" data-db-api="wikilink">{% trans %}Wikipedia{% endtrans %}</a></span>
  </div>
</div>

<!-- elevation -->
{% call _headsection(_('Elevation profile'), options='id ="elevation-section" class="ui-disabled"') %}
  <div class="ui-body ui-mini">
    <div class="elevation-label elevation-ylabel">{% trans %}Altitude (m){% endtrans %}</div>
    <div id="elevation-profile"></div>
    <div class="elevation-label elevation-xlabel">{% trans %}Distance (km){% endtrans %}</div>
    <div class="dl-block">
      <div class='dl-line'>
        <span class='dl-item'>{% trans %}Accumulated ascent{% endtrans %}:</span>
        <span data-field="ascent" class='dl-value'></span>
      </div>
      <div class='dl-line'>
        <span class='dl-item'>{% trans %}Accumulated descent{% endtrans %}:</span>
        <span data-field="descent" class='dl-value'></span>
      </div>
    </div>
  </div>
{% endcall %}

<!-- sections -->
{% set sections = [(_('Sections'), 'subroutes'), (_('Part of'), 'superroutes')] %}
{% for title, field in sections %}
  {% call _headsection(title) %}
   <ul data-role="listview" data-theme="d" data-field="{{ field }}" data-db-type="routelist" data-sorted="true" class="ui-mini"></ul>
  {% endcall %}
{% endfor %}

<!-- tags -->
{% call _headsection(_('OpenStreetMap tags'), options='data-collapsed="false"') %}
  <table id="tag-table" data-role="table" class="ui-mini">
    <thead><tr><th data-priority="1">key</th><th data-priority="persist">value</th></tr></thead>
    <tbody data-field="tags" data-db-type="tags"></tbody>
  </table>
{% endcall %}

{% endblock %}
