{% extends "pages/page-base.html" %}

{% macro _slider(id, label, max) -%}
<div class="ui-field-contain">
<label for="slider-{{id}}">{{label}}</label>
<input name="slider-{{id}}" class="map-opacity-slider" id="slider-{{id}}" min="0" max="{{max}}" type="range" data-mini="true" data-track-theme="a" data-map-layer="{{id}}_layer">
</div>
{%- endmacro %}

{% block page_id %}settings{% endblock  %}

{% block page_header %}{% trans %}Map settings{% endtrans %}{% endblock %}

{% block page_content %}
<div class="ui-bar ui-bar-d">{% trans %}Base map{% endtrans %}</div>
<div class="ui-body ui-mini">
 <form><div class="ui-field-contain">
         <label for="basemap-select" class="ui-hidden-accessible">{% trans %}Base map{% endtrans %}</label>
    <select name="basemap-select" id="basemap-select" data-mini="true">
        {% for m in g.BASEMAPS %}
        <option value="{{loop.index0}}">{{m.name}}</option>
        {% endfor %}
    </select>
 </div></form>
</div>
<div class="ui-bar ui-bar-d">{% trans %}Map transparency{% endtrans %}</div>
<div class="ui-body ui-mini">
  <form class="slider">
    {{ _slider('base', _('Base map'), '100') }}
    {{ _slider('route', _('Route layer'), '100') }}
    {{ _slider('shade', _('Hill shading'), '70') }}
  </form>
</div>
<div class="ui-bar ui-bar-d">{% trans %}Language{% endtrans %}</div>
<div class="ui-body ui-mini">
 <form><div class="ui-field-contain">
         <label for="language-select" class="ui-hidden-accessible">{% trans %}Language{% endtrans %}</label>
    <select name="language-select" id="language-select" data-mini="true">
        <option value="">{% trans %}Use browser settings{% endtrans %}</option>
        {% for val, name in g.LANGUAGES %}
        <option value="{{val}}">{{name}}</option>
        {% endfor %}
    </select>
 </div></form>
</div>
{% endblock %}
