@import '_layout';

.ui-page-theme-b .ui-bar-inherit,
.ui-bar-b,
.background-hiking {
    background-color: #81AA4B;
    color: #000;
}

.ui-subheader a:link, .ui-subheader a:visited, .ui-subheader a:hover {
    color: #fcd76d !important
}

.ui-bar-a {
    background-color: #526d30;
    color: #dbfbb1;
}
