@import '_layout';

.ui-page-theme-b .ui-bar-inherit,
.ui-bar-b,
.background-skating {
    background-color: #c25366;
    color: #000;
}

.ui-bar-a {
    background-color: #5f2932;
    color: #b9b6c3;
}

.ui-subheader a:link, .ui-subheader a:visited, .ui-subheader a:hover {
    color: #8AA145 !important
}
