<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ _(l.description) }}" />
  <meta name="keywords" lang="en" content="Waymarked Trails, {{g.BASENAME}}, maps" />
  <title>Waymarked Trails - {{ l.title }}</title>
  <link rel="shortcut icon" href="{{g.MEDIA_URL}}/img/map_{{g.BASENAME}}.ico" />

  <link rel="stylesheet" href="{{g.MEDIA_URL}}/contrib/jquery.mobile-1.4.5.min.css" />
  {% block stylesheets %}{% endblock %}
  {% assets filter="cssutils", output="packed/" + g.BASENAME + ".%(version)s.css", "css/layout.css", "css/" + g.BASENAME + ".css" %}
  <link rel="stylesheet" href="{{ASSET_URL}}"/>
  {% endassets %}

  {% assets output="packed/contrib-base.%(version)s.js", "contrib/modernizr.js", "contrib/jquery-1.12.0.min.js", "contrib/jquery.mobile-1.4.5.min.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% block javascript %}{% endblock %}
</head>

<body>
  {% block pre_header %}{% endblock %}
  <div data-role="header" data-theme="b" data-position="fixed" data-fullscreen="true" data-tap-toggle="false" style="background-image:url('{{ g.MEDIA_URL }}/img/banner_{{g.BASENAME}}.jpg')">
    <h1>Waymarked Trails: {{ _(l.title) }}</h1>
    <div id="map_maplinks">
      {% set others = [ ('hiking', _('Hiking')), ('cycling', _('Cycling')),
                        ('mtb', _('MTB')), ('skating', _('Inline Skating')),
                        ('riding', _('Horse Riding')), ('slopes', _('Winter Sport Slopes'))
                        ] %}
      {% for name, title in others %}
        <a class="maplink" href="https://{{name}}.waymarkedtrails.org"><img src="{{g.MEDIA_URL}}/img/map_{{name}}.png" alt="{{title}}" title="{{title}}" /></a>
      {% endfor %}
    </div>
    <div class="ui-bar ui-bar-a ui-subheader">{% block sub_header %}{% endblock %}</div>
  </div>
  <div data-role="footer" data-theme="b" data-position="fixed" data-tap-toggle="false">
    {% block footer %}{% endblock %}
  </div>
  {% block main %}{% endblock %}
</body>
