{% extends "base.html" %}

{% block javascript %}
  {% assets filters="rjsmin", output="packed/help.%(version)s.js", "js/help.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}

{% block sub_header %}
  <a data-role="none" class="lang-link" data-ajax="false" href="/">{% trans %}Back to map{% endtrans %}</a>
{% endblock %}

{% block main %}
  <div data-role="page" id="help"><div role="main" class="ui-content">
    <div id="menubar">
      <ul class="sidemenu">
        {% for item in menu %}
        {% if item == 'SUBMENU' %}<ul>
        {% elif item == '/SUBMENU' %}</ul>
        {% else %}<li><a class="lang-link" href="/help/{{item.0}}">{{item.1}}</a></li>
        {% endif %}
        {% endfor %}
     </ul>
   </div>

   <div class="docpage">
       {% block help_content %}{% endblock %}
   </div>
 </div></div>
{% endblock %}
