<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Waymarked Trails - {{ l.title }}</title>

  <link rel="stylesheet" href="{{ g.MEDIA_URL }}/contrib/jquery.mobile-1.4.5.min.css" />
  <link rel="stylesheet" href="{{ g.MEDIA_URL }}/contrib/openlayers-3.11.2.css"/>
  <link rel="stylesheet" href="{{ g.MEDIA_URL }}/css/{{g.BASENAME}}.css"/>

  <script src="{{ g.MEDIA_URL }}/contrib/modernizr.js"></script>
  <script src="{{ g.MEDIA_URL }}/contrib/jquery-1.11.3.min.js"></script>
  <script src="{{ g.MEDIA_URL }}/contrib/jquery.mobile-1.4.5.min.js"></script>
  <script src="{{ g.MEDIA_URL }}/contrib/openlayers-debug-3.11.2.js"></script>
  <script src="{{ g.MEDIA_URL }}/contrib/jqm.page.params.js"></script>
  <script src="{{ g.MEDIA_URL }}/contrib/flot-flot-958e5fd.js"></script>
  <script src="{{ g.MEDIA_URL }}/js/app.js"></script>
  <script src="{{ g.MEDIA_URL }}/js/elevation.js"></script>
  <script src="{{ g.MEDIA_URL }}/js/map.js"></script>
</head>

<body>
  <div id="map"></div>
  <div data-role="header" data-theme="b" data-position="fixed" data-fullscreen="true" data-tap-toggle="false" style="background-image:url('{{ g.MEDIA_URL }}/img/banner_{{g.BASENAME}}.jpg')">
    <h1>Waymarked Trails: {{ l.title }}</h1>
    <div class="ui-bar ui-bar-a ui-subheader">
      <span style="text-align:left"> Last update: <span id="api-last-update"></span></span>
      <span style="text-align:right"> License</span>
    </div>
  </div>
  <div data-role="footer" data-theme="b" data-position="fixed" data-tap-toggle="false">
    <form id="searchform" accept-charset="UTF-8" action="#" class ="footer-form-left">
        <input type="search" size="30" name="query" tabindex="1" class="ui-mini" data-theme="a" />
    </form>
    <div data-role="footer-controlgroup" data-type="horizontal" class="ui-mini footer-center">
       <a href="#settings" class="ui-btn ui-icon-gear ui-btn-icon-notext">Settings</a>
       <a href="#" class="ui-btn ui-icon-location ui-btn-icon-notext btn-func-location">Locate me</a>
       <a href="help" class="ui-btn ui-icon-info ui-btn-icon-notext">Info</a>
    </div>
    <a href="#routelist" class="ui-btn ui-mini ui-corner-all ui-button-inline footer-button-right">Routes</a>
  </div>

  <!-- main view is empty -->
  <div data-role="page" id="main"><div role="main" class="ui-content"></div></div>

  {% include 'pages/routelist.html' %}
  {% include 'pages/routes.html' %}
  {% include 'pages/search.html' %}
  {% include 'pages/settings.html' %}

</body>
