{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ g.MEDIA_URL }}/contrib/openlayers-3.17.1.css"/>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    Osgende = {{ jsparam }}
  </script>
  {% assets output="packed/contrib-map.%(version)s.js", "contrib/openlayers-3.17.1.js", "contrib/jqm.page.params.js", "contrib/flot-flot-958e5fd.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets filters="rjsmin", output="packed/map.%(version)s.js", "js/map_style.js", "js/app.js", "js/elevation.js", "js/map.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}

{% block pre_header %}
  <div id="map"></div>
{% endblock %}

{% block sub_header %}
  <div> {% trans %}Last update{% endtrans %}: <span id="api-last-update"></span></div>
  <div class="copyright">{% filter markdown %}{% trans %}Map data © [OpenStreetMap](http://www.openstreetmap.org) under [ODbL](http://www.openstreetmap.org/copyright){% endtrans %} {% trans %}elevation data by [SRTM/ASTER](help/acknowledgements){% endtrans %}{% endfilter %}</div>
{% endblock %}

{% block footer %}
  <form id="searchform" accept-charset="UTF-8" action="#" class ="footer-form-left search-form">
    <input type="search" size="30" name="query" tabindex="1" class="ui-mini" data-theme="a" />
  </form>
  <a href="#search" id="searchbutton" class="ui-btn ui-mini ui-corner-all ui-button-inline footer-button-left">{% trans %}Search{% endtrans %}</a>
  <div data-role="footer-controlgroup" data-type="horizontal" class="ui-mini footer-center">
    <a href="#settings" class="ui-btn ui-icon-gear ui-btn-icon-notext">{% trans %}Map settings{% endtrans %}</a>
    <a href="#" class="ui-btn ui-icon-location ui-btn-icon-notext btn-func-location">{% trans %}Locate me{% endtrans %}</a>
    <a href="help" data-ajax="false" class="ui-btn ui-icon-info ui-btn-icon-notext lang-link">Info</a>
  </div>
  <a href="#routelist" class="ui-btn ui-mini ui-corner-all ui-button-inline footer-button-right maplink">{% trans %}Routes{% endtrans %}</a>
{% endblock %}

{% block main %}
  <!-- main view is empty -->
  <div data-role="page" id="main" class="pseudo-page"><div role="main" class="ui-content"></div></div>

  {% include 'pages/routelist.html' %}
  {% include 'pages/routes.html' %}
  {% include 'pages/search.html' %}
  {% include 'pages/settings.html' %}

  <div id="javascript-warning">{% trans %}JavaScript needs to be activated to use this service.{% endtrans %}</div>
{% endblock %}

