{% extends "help-base.html" %}

{% block help_content %}
  <h1>{% trans %}osmc:symbol tag values displayed on the map{% endtrans %}</h1>
  {% filter markdown %}{% trans %}For information about the syntax, see the page about [the osmc:symbol tag](osmc).{% endtrans %}{% endfilter %}
  <h2>{% trans %}Foreground{% endtrans %}</h2>
  <ul>
    {% for fg in foreground %}
    <li style="list-style-image:url({{ g.MEDIA_URL }}/img/osmc/foreground/{{fg}}.svg)">{{fg}}</li>
    {% endfor %}
  </ul>
  <h2>{% trans %}Background{% endtrans %}</h2>
  <ul>
    {% for fg in background %}
    <li style="list-style-image:url({{ g.MEDIA_URL }}/img/osmc/background/{{fg}}.svg)">{{fg}}</li>
    {% endfor %}
  </ul>
{% endblock %}
